---
import Layout from '../layouts/Layout.astro';
import Search from '../components/Search.astro';
import Map from '../components/Map.astro';
import '../styles/base.css';
---

<Layout title="Home">
    <h1>Corespark Community Resources</h1>
</Layout>